:root {
    --bg-color: #e3f2fb;
    --text-color: #000000;
    --research-bg-color: #65b4ec;
    --quest-bg-color: #abc591;
    --research-button-bg-color: #65b4ec;
    --quest-button-bg-color:  #abc591;
    --button-disabled-bg-color: #858585;
    --fade-duration: 1s;
}

[data-theme='light'] {
    --bg-color: #e3f2fb;
    --text-color: #000000;
    --research-bg-color: #65b4ec;
    --quest-bg-color: #abc591;
    --research-button-bg-color: #65b4ec;
    --quest-button-bg-color: #abc591;
    --button-disabled-bg-color: #858585;
}

[data-theme='dark'] {
    --bg-color: #282828;
    --text-color: #fbf1c7;
    --research-bg-color: #458588;
    --quest-bg-color: #d79921;
    --research-button-bg-color: #458588;
    --quest-button-bg-color: #d79921;
    --button-disabled-bg-color: #858585;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


#main {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.everything {
    display: flex;
    flex-direction: column;
}

.logs {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 5em;
    line-height: 1em;
    display: flex;
    flex-direction: column;
}

.metrics {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeIn var(--fade-duration);
}

.resources {
    height: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    animation: fadeIn var(--fade-duration);
}

.table-name {
    text-align: left;
}

.table-value {
    text-align: right;
}

.interactions {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.repeatable-actions {
    width: 100%;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
}

.researches {
    height: 100%;
    max-width: 40vw;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.quests {
    height: 100%;
    max-width: 40vw;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#header {
    max-width: 1200px;
}

.logs {
    white-space: pre-line;
}

.research {
    border: 1px solid var(--bg-color);
    width:100%;
    padding:1em;
    box-sizing: border-box;
    background-color: var(--research-bg-color);
    color: var(--text-color);
    animation: fadeIn var(--fade-duration);
}

.quest {
    border: 1px solid var(--bg-color);
    width:100%;
    padding:1em;
    box-sizing: border-box;
    background-color: var(--quest-bg-color);
    color: var(--text-color);
    animation: fadeIn var(--fade-duration);
}

.research-button {
    width:100%;
    background-color: var(--research-button-bg-color);
    color: var(--text-color);
}

.research-button:disabled {
    width:100%;
    background-color: var(--button-disabled-bg-color);
    color: var(--text-color);
}

.quest-button {
    width:100%;
    background-color: var(--quest-button-bg-color);
    color: var(--text-color);
}

.quest-button:disabled {
    width:100%;
    background-color: var(--button-disabled-bg-color);
    color: var(--text-color);
}

.repeatable-action {
    width:100%;
    background-color: var(--research-bg-color);
    color: var(--text-color);
    animation: fadeIn var(--fade-duration);
}

.repeatable-action-button {
    width:100%;
    background-color: var(--research-button-bg-color);
    color: var(--text-color);
    animation: fadeIn var(--fade-duration);
}
.repeatable-action-button:disabled {
    width:100%;
    background-color: var(--button-disabled-bg-color);
    color: var(--text-color);
    animation: fadeIn var(--fade-duration);
}
